[Unit]
Description=Shadowbox RNBO Hardware UI
Wants=pigpiod.service
After=network.target pigpiod.service

[Service]
User=pi
WorkingDirectory=/home/pi/Shadowbox
ExecStart=/home/pi/Shadowbox/.venv/bin/python -m shadowbox.shadowbox
Restart=always
RestartSec=3
Environment=PYTHONUNBUFFERED=1
EnvironmentFile=-/etc/default/shadowbox

[Install]
WantedBy=multi-user.target
